@import '../login/login.page.scss';

.big-round-button {
  width: 300px;
  height: 300px;
  border-radius: 50%;
  background-color: transparent;
  border: 5px solid #18d0c3;
  --border-radius: 50%;
  --padding-start: 0;
  --padding-end: 0;
  --inner-border-width: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.center-container {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.exit-button {
  position: absolute;
  top: 20px;
  right: 20px;
  background: rgba(#400b63, 0.5); ;
  color: white;
}

.button-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

span {
  font-size: medium;
  color: #0DB8DE;
}

.icon {
  font-size: larger;
}