<div class="body">
  <div class="container">

     @if(!estaBloqueado){
      <ion-button class="exit-button" (click)="logout()">Cerrar sesión</ion-button>

      <ion-button (click)="cambiarBloqueado()" class="center-container big-round-button login-key" expand="block">
        <div class="button-content">
          <img class="icon" src="../../assets/icon/key.svg" alt="">
          <span>Cerrar</span>
        </div>
      </ion-button>
    }

    @if(estaBloqueado){
      <ion-button (click)="formAlert()" class="center-container big-round-button login-key" expand="block">
        <div class="button-content">
          <img class="icon" src="../../assets/icon/lock.svg" alt="">
          <span class="">Abrir</span>    
        </div>
      </ion-button>
    }
  </div>
</div>