.splash-screen {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #39225B;
}

.splash-content {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-grow: 1;
}

.center-logo {
  width: 100px;
  height: 100px;
  animation: fadeInLogo 2.5s ease-in-out;
}

@keyframes fadeInLogo {
  from {
    opacity: 0;
    transform: scale(0.8);
  }
  to {
    opacity: 1;
    transform: scale(1);
  }
}

.footer-content {
  text-align: center;
  color: #ffffff;
  animation: slideInUp 1.5s ease-in-out;
}

@keyframes slideInUp {
  from {
    opacity: 0;
    transform: translateY(100%);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.footer-content h1,
.footer-content p {
  margin: 2vh;
  padding: 0;
}








.splash-screen {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #ffffff;
    background-color: #39225B;
    z-index: 1000;
    animation: colorChange 3s ease-in-out infinite;
  }

  @keyframes colorChange {
    0% { background-color: #39225B; }
    //50% { background-color: #E07575; }
    100% { background-color: #F4A5A5; }
  }
  
  .splash-content {
    text-align: center;
  }
  
  .splash-logo {
    width: 80px;
    height: 80px;
    position: relative;
    margin-bottom: 35px;
    margin-top: 15px;
    
    animation: ripple 1s infinite;
  }

  @keyframes ripple {
    40% { transform: scale(0.5); opacity: 0; }
    100% { transform: scale(1.6); opacity: 1; }
  }
  
  @keyframes slowSpin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
  }